body {
    background-color: bisque;
}

h1 {
    color: blue;
}

#hed {
    color: blue;
}

button {
    padding: 20px;
    border: none;
    /* background-color: transparent; */
    border: 2px solid greenyellow;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}