* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.board {
    border: 1px solid #e4e4e4;
    width: 300px;
    height: 80vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.items {
    margin-top: 10px;
}
.item {
    border: 1px solid;
    padding: 15px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 15px;
}
.item:hover {
    background-color: white;
    color: black;
}
